1 VERSIONINFO
FILEVERSION 0,1,6,0 // FILEVERSION
FILEOS 0x0
FILETYPE 0x1
{
BLOCK "StringFileInfo"
{
	BLOCK "040904E4"
	{
        VALUE "CompanyName",
                "Luigi Auriemma\r\n"
                "e-mail: aluigi@autistici.org\r\n"
                "web:    aluigi.org"
		VALUE "FileDescription", "Proxocket: socket capturing/editing"
		VALUE "FileVersion", "0.1.6" // FILEVERSION
		VALUE "LegalCopyright", "2010 Luigi Auriemma"
		VALUE "ProductName", "Proxocket"
		VALUE "Comments",
                "Place this file in the folder of the software you want to monitor and run it.\r\n"
                "A new file in tcpdump format will be created in the same folder with all the sniffed packets.\r\n"
                "\r\n"
                "If you want to modify the incoming or outgoing data you need to build a custom myproxocket.dll and placing it in the same folder\r\n"
                "\r\n"
                "Read proxocket.txt for more info."
	}
}
}
