<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es" dir="ltr" >
<head>
	<base href="http://images.kerberus.com.ar/" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/pedirPassword.css" type="text/css" media="all" />
	<title>${titulo}</title>
<script type="text/javascript">
//<![CDATA[
function focus_search() {
    sbi = document.getElementById('${focus}');
    sbi.focus();
    search_select(sbi);
}
function search_select(e) {
    if(e.value.length > 0) {
        e.select();
    }
    e.select();
}
//]]>
</script>
<style type="text/css">
.pedirPassword input {
    width: 340px;
    height: 28px;
    font-size: 20px;
    margin-top:5px;
    margin-left:15px;
    }
.pedirPassword button {
    font-size: 14px;
    width: 90px;
    height: 36px;
    }

</style>
</head>
<body>
    <div id="bubble">
        <div class="pagewidth">
		    	<div id="sitename">
                <img src="images/logo.png" alt="logotype" />
            </div>
   		   <div id="content-mid">
				<div id="main-full2">

					<center>
							<div class="pedirPassword">
								<h1>${titulo}</h1>
								<h4>${subtitulo}</h4>
								<br>
									<img class="pedirPassword" src="images/llave.png" alt="" />
									<br>

								<b><h4> Debe ingresar la password actual de kerberus, y dos veces la nueva password</h4></b><br>
								<form method="POST">
									<label for="password_actual">Password actual  </label><input type="password" value="" id="password_actual" name="password_actual"></input><br><br>
									<label for="password_nueva_1">Password nueva</label><input type="password" value="" id="password_nueva1" name="password_nueva1"></input><br>
									<label for="password_nueva2">Password nueva</label><input type="password" value="" id="password_nueva2" name="password_nueva2"></input><br><br>

									<button type="submit">Cambiar</button>
									<button type="button" onclick="javascript:history.back()">Cancelar</button>

								<h2>${mensaje_error}</h2>
						</form>
							</div>
						</center>
</div>
</div>
</div>
</div>
<div id="content-bottom">
</div>
<div id="footer">

</div>
<script type="text/javascript">
//<![CDATA[
focus_search();
//]]>
</script>
</body>
</html>
