<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es" dir="ltr" >
<head>
	<title>${titulo}</title>
</head>
<body>
	<center>
		<h1>${titulo}</h1>
		<br>
		<form method="POST">
			<h3>${mensaje}</h3>
			<input type="password" value="" name="password"></input>
			<input type="submit" value="Deshabilitar"></input>
			<h4>${mensaje_error}</h4>
		</form>
                <h4>
                	<a href='javascript:history.back()'> Volver </a>
                </h4>
		</center>
	</body>
</html>
