<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-es" lang="es-es" dir="ltr" >
<head>
  <base href="http://images.kerberus.com.ar/" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Sitio no permitido</title>	
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="all" />
  <link rel="stylesheet" href="css/sitiodenegado.css" type="text/css" media="all" />
</head>
<body>
    <div id="bubble">
        <div class="pagewidth">
		    	<div id="sitename">
                <img src="images/logo.png" width="258" height="84" alt="logotype" />
            </div>
   		   <div id="content-mid">
				<div id="main-full2">
				<center>
					<h1>Sitio no permitido</h1>
					<h3>
						El sitio ${sitio} contiene material no apto para menores de edad
					</h3>
					<img src="images/Stop150.png" alt="" />
				</center>
				<h2>Opciones</h2>
				<ul type="square" >
				<li>
				<h3>
				<a href='javascript:history.back()'> Volver </a>
				</h3>
				</li>
				<li>
				<h3><a href='${sitio}/!DeshabilitarFiltrado!'>
				Deshabilitar filtrado temporalmente
				</a>
				</h3>
				</li>
<!--				<li>
				<h3>
				<a href=''>
				Agregar este sitio a dominios permitidos
				</a>
				</h3>
				</li>
-->
				</ul>
<!-- <br/>
<hr/>
<h4>Publicidad</h4>
<hr/>
-->
</div>
</div>
</div>
</div>
<div id="content-bottom">
</div>
<div id="footer">
</div>      	  
</body>
</html>
